html, body {
  height: 100%;
}

a img {
  width: 40px;
  margin-top: -9px;
}

#about img {
  /*width: 170px;*/
  /*float: left;*/
  width: 200px;
  -webkit-flex: 0 1 200px;
  border-radius: 50%;
  margin: 0 10px;
}

#profileContent {
  position: absolute;
  top:100%;
  width:100%;
  height:100%;
}

#about{
  padding-top: 50px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-flow: row wrap;
}

#about > div {
  width: 80%;
}

#about > h1,
#skills > h1,
#portfolio > h1{
  font-family: Bungee;
  -webkit-flex: 0 1 100%;
  text-align: center;
}

#about h3 {
  font-family: Bungee;
  -webkit-flex: 0 1 100%;
}

#skills {
  padding-top: 50px;
}

#skills h3 {
    font-family: Bungee;
    -webkit-flex: 0 1 100%;
    text-align: center;
}

#projects {
 position: absolute;
 width: 100%;
 height: 300%;

}

.skills {
  padding: 30px 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
#progressBar, #progress {
  opacity: 0.9;
  height: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
}

.skillsProgress {
  -webkit-flex: 0 1 auto;
  display: inline-block;
  text-align: center;
}

.skillsProgress >img {
  width: 50%;
}

#portfolio {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;  
  justify-content: center;
}
.project {
  position: relative;
  margin: 10px 20px;
  -webkit-flex: 0 1 auto;
  display: inline-block;
  text-align: center;
  background-color: #1c1e22;
}

.project > img {
  padding: 5px;
  width: 100%;
}

/*.project:hover,
.project:hover img {
  opacity: 0.9;
  background-color: #4b4b4b;
}*/
.projectTitle {
  color: white;
  padding: 10px 20px;
  font-size: 20px;
}

@media screen and (min-width: 1120px) {
    #about {
      padding: 30px 10%;
    }
}

@media screen and (min-width: 1600px) {
    #about {
      padding: 30px 15%;
    }
}

.projectLinks {
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.projectLinks img {
  width: 50%;
  height: 50%
}

.projectLinks img:hover {
  width: 80%;
}